@font-face {
  font-family: Minecraft;
  src: url(F77MinecraftRegular-0VYv.ttf);
}

body {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(iconicbuildingblur.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  header {
    background-color: #333;
    color: #fff;
    position: relative;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
  }
  
  .navbar-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .navbar-logo img {
    height: 200px;
    position: relative;
    top: 64px;
    left: 40px;
  }
  
  ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 200px;
  }
  
  ul li {
    display: inline;
    margin-right: 100px;
    position: relative;
    left: 180px;
  }
  
  ul li:last-child {
    margin-right: 0;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }

.navtext {
  font-size: 30px;
  font-family: Minecraft;
}

/* .home {
  background-image: url(iconicbuilding.jpeg);
  filter: blur(1.5px);
} */

.aboutText {
  position: relative;
  background-color: transparent;
  height: 600px;
  top: 50px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 20%);
  outline: 2px solid rgb(255, 255, 255, 35%);
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 1;
}

.logohorizontal {
  position: relative;
  top: 140px;
  left: 28%;
  width: 700px;
  height: 200px;
  z-index: 2;
}