body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    position: relative;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
  }
  
  .navbar-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .navbar-logo img {
    width: 100px; /* Adjust as needed */
  }
  
  ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 200px;
  }
  
  ul li {
    display: inline;
    margin-right: 20px;
  }
  
  ul li:last-child {
    margin-right: 0;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  